<div>buttonClicked Data: {{ buttonClicked }}</div>

<button (click)="openDialog2()">haj sad</button>



<input [(ngModel)]="name" (keydown.enter)="onEnter()" required>
<div *ngIf="nameError" class="error-message">Name is required</div>

<input [(ngModel)]="lastName" (keydown.enter)="onEnter()" required>
<div *ngIf="lastNameError" class="error-message">Lastname is required</div>

<input [(ngModel)]="JMBG" (keydown.enter)="onEnter()" required>
<div *ngIf="JMBGError" class="error-message">JMBG is required</div>

<input
  type="text"
  (click)="openDialog()"
  [value]="buttonClicked"
  [(ngModel)]="buttonClicked"
/>

<div>
  <label for="place">Place:</label>
  <input type="text" id="place" [(ngModel)]="buttonClicked" />
</div>
<div>
  <label for="city">City:</label>
  <input type="text" id="city" [(ngModel)]="buttonClicked" />
</div>
<div>
  <label for="country">Country:</label>
  <input type="text" id="country" [(ngModel)]="buttonClicked" />
</div>
