<div class="main-container">
  <app-tab-content></app-tab-content>
  <!-- <app-input-click
  (buttonClicked)="parentEventHandlerFunction($event)"
></app-input-click> -->
  <!-- <app-products class="products"></app-products> -->
<!-- 
  <div style="border: solid 1px gray; padding: 15px">
    <h1>Parent Component</h1>
    <span><b>Value emitted from child component is:</b></span>
    {{ valueEmittedFromChildComponent }}
    <app-child (buttonClicked)="parentEventHandlerFunction($event)"> </app-child>
  </div>  -->
</div>

<!-- 
<button mat-button (click)="openPlacesDialog(null)">openPlacesDialog</button>
<button mat-button (click)="openCountriesDialog(null)">
  openCountriesDialog
</button>

{{ valueEmittedFromChildComponent }} -->

